<header>
  {{#if loggedIn}}
  {{> private-navbar}}
  {{else}}
  {{> public-navbar}}
  {{/if}}
</header>

<main>
<h1>Blogs</h1>
  {{#if loggedIn}}
{{#with blogData}}
     {{> comment-blog}}
{{/with}}
  {{else}}
{{#with blogData}}
{{>blogs-public}}
{{/with}}
{{/if}}
</main>