<header>
  {{> private-navbar}}
</header>
<main>
  <h1>Dashboard</h1>
  <div><button id="newBlogBtn" type="submit">+New Blog</button></div>
  <h3>My Blogs</h3>
  {{#each blogData}}
     {{> blogs-private}}
  {{/each}}
</main>