<header>
  {{#if loggedIn}}
  {{> private-navbar}}
  {{else}}
  {{> public-navbar}}
  {{/if}}
</header>
<div class="d-flex justify-content-center">
<h1 class="m-3">Tech Blogs Homepage</h1>
</div>

<h2 class="m-6">Recent blogs:</h2>

<main id="container" class="d-flex-column">

    {{#if loggedIn}}
    {{#each blogData}}
     {{> blogs-private}}
  {{/each}}
  {{else}}
  {{#each blogData}}
     {{> blogs-public}}
  {{/each}}
   {{/if}}
</main>