<header>
  {{#if loggedIn}}
  {{> private-navbar}}
  {{else}}
  {{> public-navbar}}
  {{/if}}
</header>

<h1 class="m-3">Latest Blogs</h1>

<main>
    {{#if loggedIn}}
    {{#each mapped}}
     {{> blogs-private}}
  {{/each}}
  {{else}}
  {{#each mapped}}
     {{> blogs-public}}
  {{/each}}
   {{/if}}
</main>